@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: url("../../images/modal-window/modal-bg-mobile@2x.png");
  }
}


@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: url('../../images/modal-window/modal-bg-tablet@2x.png');
  }
}

/* @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero {
    background-image: url("../../images-2x/bg-2x/people-office@2x.jpg");
  }
} */