.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
    width: 274px;
    height: 100%;
    z-index: 999;
    padding: 20px;
    background-color: #ECD979;
    background-image: url('../../images/modal-window/modal-bg-mobile.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100%;
    background-size: 314px;

    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-phone-link {
    text-decoration: none;
    color: #1C2225;
    font-size: 12px;
    line-height: 1.16;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid rgba(28, 34, 37, 0.10);
}

.menu-icon-x {
    stroke: #1C2225;
    background-color: transparent;
}

.menu-nav-ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 186px;
    text-align: end;
}

.menu-nav-ul-link {
    color: #1C2225;
    line-height: 1.28;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-container.is-open {
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
    .menu-container {
        width: 380px;
        background-size: 384px;
        background-image: url('../../images/modal-window/modal-bg-tablet.png');
    }
}